* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Arial, "微软雅黑";
}
img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
  margin: 0 auto!important;
  display: block;
}
body,
p,
form,
input,
button,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
input,
textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-appearance: none;
  font-size: 1em;
  line-height: 1.5em;
}
table {
  border-collapse: collapse;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
li,
ol {
  list-style: none;
}
body {
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  color: #555;
  background: #fff;
  height: auto;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none!important;
}
header {
  position: relative;
  background: #fef7ef;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}
header .back {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #f2767d;
}
header p {
  position: absolute;
  left: 25px;
}
.container-fluid {
  padding: 0;
  position: relative;
  background: url(../image/10.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  min-height: 320px;
}
.container-fluid .static {
  text-align: center;
  color: #dd334a;
  font-size: 16px;
  position: relative;
  top: 10px;
}
.container-fluid .user {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50px;
  margin: 7% auto;
  overflow: hidden;
  background-size: cover;
}
.container-fluid .userName {
  font-size: 16px;
  position: relative;
  top: 10px;
  text-align: center;
  color: #fde760;
}
.container-fluid .money {
  margin-top: 20px;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.container-fluid .hb-number {
  text-align: center;
  color: #fde760;
}
.container-fluid .lucky {
  text-align: center;
  color: #fde760;
}
.container-fluid a {
  color: #ed9754;
  position: relative;
  top: 30px;
}
.container-fluid a button {
  margin: 20px auto;
  width: 70% !important;
  max-width: 300px;
  padding: 12px;
  background: #fde760;
  border-radius: 9px;
  outline: none!important;
}
.container-fluid a button:active {
  background: #e49c01!important;
}
.footer {
  position: relative;
  max-width: 640px;
  height: auto;
}
.footer img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  min-height: 300px;
}
.footer .hbRecord {
  margin: auto;
  padding-top: 40px;
  text-align: center;
  color: #f9b859;
  padding-bottom: 30px;
}
.footer .hbRecord li {
  margin-top: 20px;
}
.footer .hbRecord .start {
  font-size: 18px;
}
.footer .hbRecord .start .round-money {
  font-size: 24px!important;
  color: #fff!important;
}
.footer .hbRecord .benlun {
  font-size: 13px;
}
@media (max-width: 360px) {
  .user {
    width: 90px!important;
    height: 90px!important;
  }
}
@media (min-width: 425px) {
  .user {
    position: relative;
    top: 33px;
  }
}
